<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= link_to 'Categories', admin_categories_path %> &raquo; 
      <span class="badge"><%= @categories.count %></span>
      </h4>
    </div>

    <%= render 'category' %>
    
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= link_to 'Products', admin_products_path %> &raquo; 
      <span class="badge"><%= @products.count %></span>
      </h4>
    </div>

    <%= render 'product'%>
    
  </div>

</section>