<div class="user-form">
<%= form_for :user, url: '/users' do |form| %>

  <h2 class="text-center">Sign Up</h2>
  <div class="form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
  </div>
  <div class="form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>
  <div class="form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="form-group">
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
  </div>
  <div class ="text-center form-group">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>  
  
  <div class="text-center">Have an account already? <%= link_to 'Log in!', '/login' %>
  </div>
<% end %>
</div>